/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-theme-color: #ff6b22;
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-searchbar-bg-color: var(--f7-bars-bg-color);
  --f7-searchbar-input-bg-color: #fff;
  --f7-searchbar-input-text-color: #000;
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}


.fix-left-menu a.item-link.flm{
    padding-left: 2px!important;
    padding-right: 2px!important;
    height: auto;
}
.fix-left-menu .item-content.flm{
    padding-left: 1px!important;
    width:  100%!important;
}
.fix-left-menu .item-inner.flm{
    padding-right: 1px!important;
    margin-left: 1px!important;
}
.fix-left-menu .item-title.flm{
    width:100%!important;
}
.smart-select-page li.disabled{display: none;}
.tabbar-labels a.tab-link.tab-link-active{
    color: darkorange!important;
}
.tabbar .tab-link-highlight, .md .tabbar-labels .tab-link-highlight{
    background-color: darkorange!important;
}
